h3 {
  text-align: center;
  color: red;
  font-style: italic;
}

.center-header {
  color: red;
  text-align: center;
  font-style: italic;
}

.skill-container {
  border: solid lightcoral;
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  padding: 1rem;
  margin-bottom: 10px;
}

p {
  text-align: center;
}

.my-rounded-left {
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.my-rounded-right {
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

.my-rounded-all {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
